<%= render "shared/error", obj: @user %>

<div class="container-fiuld user">
  <div class="row">

    <div class="col-6 col-md-10 user-view">
      <div class="user-view-box">
        <div class="update-content">
          <div class="row">
            <h3>プロフィール</h3>
          </div>
        </div>
        <%= form_with model:@user do |f| %>
          <table>
            <div class="update-content">
                <% if current_user.image?%>
                  <%= image_tag current_user.image.url, class: "user-icon-image"%>
                <% else %>
                  <%= image_tag "/assets/default.png", class: "user-icon-image" %>
                <% end %>
              </div>
            </div>
            <div class="update-content">
              <div class="row">
                  <%= f.label :image ,"アイコン画像", class: "col-md-3 required-a" %><span>必須</span>
                  <%= f.file_field :image, class: "mb-4 col-md-9" %>
              </div>
            </div>
            <div class="update-content">
              <div class="row">
                  <%= f.label :name ,"名前", class: "col-md-3 required-a" %><span>必須</span>
                  <%= f.text_field :name, class: "form-control mb-4 col-md-9" %>
                </div>
              </div>
              <div class="update-content">
                <div class="row">
                    <%= f.label :introduction ,"自己紹介", class: "col-md-3 required-a" %><span>必須</span>
                    <%= f.text_area :introduction, placeholder: "自己紹介を入力", class: "form-control mb-4 col-md-9" %>
                </div>
              </div>
          </table>

          <div class="update-content">
            <div class="row">
              <div class="btn-toolbar" role="toolbar" aria-label="ボタングループのツールバー">
                <div class="btn-group me-2" role="group" aria-label="第一グループ">
                  <%= f.submit "更新", class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>