<div class="container devise">
  <div class="divise_frame">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <p class="my-4">ログイン</p>
    <div class="devise_inner">
            <div class="field form-row">
              <span>必須</span>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス"%>
            </div><br>

            <div class="field">
              <span>必須</span>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
            </div><br>

            <div class="actions">
              <%= f.submit "ログイン" %>
            </div><br>

    <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

